language: python
sudo: false
python:
    - '2.7'
    - '3.3'
    - '3.4'
    - '3.5'
    - '3.6'
    - '3.7-dev'
    - 'pypy'
    - 'pypy3'

branches:
  only:
    - master
    - v1.x

cache: pip
before_install:
    - source .travis/before_install.sh
install:
    - python --version
    - pip --version
    - pip install tox
script:
    - tox -e py

notifications:
  email:
    on_success: never
    on_failure: change
