include AUTHORS README LICENSE TODO ChangeLog build_inplace *.py
recursive-include docs *
recursive-include examples *
recursive-include patches *
recursive-include src *
recursive-include tests *
recursive-include deps *
prune docs/_build
